html body {
    background-color: rgb(142,186,62); 
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box {
    width: 420px;
    height: 500px;
    background-color: lightcoral
}