html, body {
    margin: 20;  
    background-color: white
    border: 20px;
    background-color: white
    border-radius: 30px;  
}
.container {
    max-width: 700px;
    margin: auto;
    width: 50%;
    border: 3px solid #fff8dc;
    padding: 10px;
    background-color: rgb(142,186,62);
}
.header{ 
    
    background-color: rgb(142,186,62);  
    height: 220px;
    font-family: 'Spartan', sans-serif;
    text-align: center; 
    line-height: 200px;
    padding: 20px;
}

.indentedheader{
    padding: 25px;
    background-color: white;
    font-family: 'Spartan', sans-serif;
}

.indentedheader h2{
  text-align: left;  
  height: 20px;
  font-size: 20px;
  font-family: 'Spartan', sans-serif;
}

.bottomheader{ 
    text-align: center

    
}
.bottomheader a{ 
    background-color:rgb(142,186,62);  
    font-family: 'Spartan', sans-serif;
    padding: 30x;
    border: 15px solid rgb(142,186,62);  
    padding: 30x;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 50px 0px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none
}

.secondparagraph{ 
    font-family: 'Spartan', sans-serif;
    text-align: left;  
    font-size: 20px;
  }

  .spacer {
    padding: 15px 0px;
    text-align: center;

.footer {
    background-color: #dfdfdf;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 20px 
}

.footer a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}
