html, body {
    margin: 8;  
    background-color: aliceblue; 
    border: 20px;
    border-color: aliceblue; 
    border-radius: 30px;  
}
.container {
    max-width: 700px;
    margin: 0px auto;
}
.header{ 
    background-color: green;
    height: 220px;
    text-align: center; 
    line-height: 200px;
    font-family: 'Times New Roman';
    padding: 20px;
    
}

.indentedheader{
    margin: 50px;
}

.indentedheader h2{
  text-align: left;  
  height: 20px;
  font-size: 20px;
  font-family: 'times new roman' ;
}

.bottomheader{ 
    text-align: center
    
}

.bottomheader a
{ 
    background-color: lightgrey;
    border: 15px solid green;
    padding: 30x;
    font-size: 12px;
    margin: 25px 50px 75px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding: 15px 25px;

}

.footer {
    text-align: center;
    border-radius: 20cm;
    padding: 20px, 0px, 0px, 20px;
    border: 20px, 0px, 0px, 20px;    
    background-color: palegreen 
    
    

}

.footer a 
{
    font-size: 20px;
    font-weight: 600;
    text-decoration: royalblue
}